@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin.eot');
    src: url('raleway-thin.eot?#iefix') format('embedded-opentype'),
         url('raleway-thin.woff') format('woff'),
         url('raleway-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight.eot');
    src: url('raleway-extralight.eot?#iefix') format('embedded-opentype'),
         url('raleway-extralight.woff') format('woff'),
         url('raleway-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light.eot');
    src: url('raleway-light.eot?#iefix') format('embedded-opentype'),
         url('raleway-light.woff') format('woff'),
         url('raleway-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular.eot');
    src: url('raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular.woff') format('woff'),
         url('raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium.eot');
    src: url('raleway-medium.eot?#iefix') format('embedded-opentype'),
         url('raleway-medium.woff') format('woff'),
         url('raleway-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold.eot');
    src: url('raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('raleway-semibold.woff') format('woff'),
         url('raleway-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold.eot');
    src: url('raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold.woff') format('woff'),
         url('raleway-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('raleway-extrabold.eot');
    src: url('raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('raleway-extrabold.woff') format('woff'),
         url('raleway-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack';
    src: url('raleway-black.eot');
    src: url('raleway-black.eot?#iefix') format('embedded-opentype'),
         url('raleway-black.woff') format('woff'),
         url('raleway-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
