@font-face {
    font-family: 'Oswald Extra Light';
    src: local('Oswald Extra Light'), local('Oswald-ExtraLight'), url('Oswald-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Light';
    src: local('Oswald Light'), local('Oswald-Light'), url('Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Regular';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Medium';
    src: local('Oswald Medium'), local('Oswald-Medium'), url('Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald DemiBold';
    src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url('Oswald-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Bold';
    src: local('Oswald Bold'), local('Oswald-Bold'), url('Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Heavy';
    src: local('Oswald Heavy'), local('Oswald-Heavy'), url('Oswald-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}